<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>Name</key>
			<string>___PACKAGENAME___</string>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>Name</key>
					<string>SwiftLint Run Script</string>
					<key>ShellPath</key>
					<string>/bin/bash</string>
					<key>ShellScript</key>
					<string>&quot;${PODS_ROOT}/SwiftLint/swiftlint&quot;</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.reigndesign.dt.unit.baseApplication</string>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.coreDataCocoaTouchApplication</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application at Reign Design.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Objective-C</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate.m:imports:importHeader:___VARIABLE_rootClassName___.h</string>
						<string>___VARIABLE_rootClassName___.h:comments</string>
						<string>___VARIABLE_rootClassName___.h:imports:importCocoa</string>
						<string>___VARIABLE_rootClassName___.h:interface(___FILEBASENAME___ : UIViewController)</string>
						<string>___VARIABLE_rootClassName___.m:comments</string>
						<string>___VARIABLE_rootClassName___.m:imports:importHeader:___VARIABLE_rootClassName___.h</string>
						<string>___VARIABLE_rootClassName___.m:extension</string>
						<string>___VARIABLE_rootClassName___.m:implementation:methods:viewDidLoad(- (void\)viewDidLoad)</string>
						<string>___VARIABLE_rootClassName___.m:implementation:methods:viewDidLoad:super</string>
					</array>
				</dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array/>
				</dict>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___-dev.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___-qa.xcscheme</string>
		<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</string>
		<string>../Podfile</string>
		<string>../.swiftlint.yml</string>
		<string>Info.plist:CFBundleDisplayName</string>
		<string>Modules/Core/BaseModule/View/BaseViewController.swift</string>
		<string>Modules/Core/BaseModule/View/Contract.swift</string>
		<string>Modules/Core/Configuration/Configuration.swift</string>
		<string>Modules/Core/Configuration/ConfigurationExtension.swift</string>
		<string>Modules/Core/Configuration/Configurations.plist</string>
		<string>Modules/Core/Data/DataSource/BaseRemoteDataSource.swift</string>
		<string>Modules/Core/Domain/UseCases/UseCase.swift</string>
		<string>Modules/Core/Factory/Factory.swift</string>
		<string>Modules/Core/Helper/DecoderHelper.swift</string>
		<string>Modules/Core/Helper/HelperFormatters.swift</string>
		<string>Modules/Core/Keys/Keys.swift</string>
		<string>Modules/Core/Storage/StorageProtocol.swift</string>
		<string>Modules/Core/Storage/StorageKeyChain.swift</string>
		<string>Modules/Core/Storage/StorageUsersDefaults.swift</string>
		<string>Modules/Core/String/StringConstants.swift</string>
		<string>Modules/UI/UITheme/UITheme.swift</string>
		<string>Modules/UI/Views/CustomImageView.swift</string>
		<string>Modules/Demo/Configuration/ConfigurationDemo.swift</string>
		<string>Modules/Demo/Data/DataSource/RemoteDataSource/DemoRemoteDataSource.swift</string>
		<string>Modules/Demo/Data/DataSource/DemoDataSourceProtocol.swift</string>
		<string>Modules/Demo/Data/Entities/Item.swift</string>
		<string>Modules/Demo/Data/Repository/DemoRepository.swift</string>
		<string>Modules/Demo/Domain/UseCases/ListItem.swift</string>
		<string>Modules/Demo/Factory/DemoFactory.swift</string>
		<string>Modules/Demo/Scenes/List/ListContract.swift</string>
		<string>Modules/Demo/Scenes/List/ListPresenter.swift</string>
		<string>Modules/Demo/Scenes/List/ListViewController.swift</string>
		<string>Modules/Demo/Scenes/List/ListViewController.xib</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___-dev.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___-dev.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___-qa.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___-qa.xcscheme</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/___PACKAGENAME___.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>Path</key>
			<string>___PACKAGENAME___.xcscheme</string>
		</dict>
		<key>Modules/Core/BaseModule/View/BaseViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>BaseModule</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/BaseModule/View/BaseViewController.swift</string>
		</dict>
		<key>Modules/Core/BaseModule/View/Contract.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>BaseModule</string>
				<string>View</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/BaseModule/View/Contract.swift</string>
		</dict>
		<key>Modules/Core/Configuration/Configuration.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Configuration/Configuration.swift</string>
		</dict>
		<key>Modules/Core/Configuration/ConfigurationExtension.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Configuration/ConfigurationExtension.swift</string>
		</dict>
		<key>Modules/Core/Configuration/Configurations.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Configuration/Configurations.plist</string>
		</dict>
		<key>Modules/Core/Data/DataSource/BaseRemoteDataSource.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Data</string>
				<string>DataSource</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Data/DataSource/BaseRemoteDataSource.swift</string>
		</dict>
		<key>Modules/Core/Domain/UseCases/UseCase.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Domain</string>
				<string>UseCases</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Domain/UseCases/UseCase.swift</string>
		</dict>
		<key>Modules/Core/Factory/Factory.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Factory</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Factory/Factory.swift</string>
		</dict>
		<key>Modules/Core/Helper/DecoderHelper.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Helper</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Helper/DecoderHelper.swift</string>
		</dict>
		<key>Modules/Core/Helper/HelperFormatters.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Helper</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Helper/HelperFormatters.swift</string>
		</dict>
		<key>Modules/Core/Keys/Keys.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Keys</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Keys/Keys.swift</string>
		</dict>
		<key>Modules/Core/Storage/StorageProtocol.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Storage</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Storage/StorageProtocol.swift</string>
		</dict>
		<key>Modules/Core/Storage/StorageKeyChain.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Storage</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Storage/StorageKeyChain.swift</string>
		</dict>
		<key>Modules/Core/Storage/StorageUsersDefaults.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>Storage</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/Storage/StorageUsersDefaults.swift</string>
		</dict>
		<key>Modules/Core/String/StringConstants.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Core</string>
				<string>String</string>
			</array>
			<key>Path</key>
			<string>Modules/Core/String/StringConstants.swift</string>
		</dict>
		<key>Modules/UI/UITheme/UITheme.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>UI</string>
				<string>UITheme</string>
			</array>
			<key>Path</key>
			<string>Modules/UI/UITheme/UITheme.swift</string>
		</dict>
		<key>Modules/UI/Views/CustomImageView.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>UI</string>
				<string>Views</string>
			</array>
			<key>Path</key>
			<string>Modules/UI/Views/CustomImageView.swift</string>
		</dict>
		<key>Modules/Demo/Configuration/ConfigurationDemo.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Configuration/ConfigurationDemo.swift</string>
		</dict>
		<key>Modules/Demo/Data/DataSource/RemoteDataSource/DemoRemoteDataSource.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Data</string>
				<string>DataSource</string>
				<string>RemoteDataSource</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Data/DataSource/RemoteDataSource/DemoRemoteDataSource.swift</string>
		</dict>
		<key>Modules/Demo/Data/DataSource/DemoDataSourceProtocol.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Data</string>
				<string>DataSource</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Data/DataSource/DemoDataSourceProtocol.swift</string>
		</dict>
		<key>Modules/Demo/Data/Entities/Item.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Data</string>
				<string>Entities</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Data/Entities/Item.swift</string>
		</dict>
		<key>Modules/Demo/Data/Repository/DemoRepository.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Data</string>
				<string>Repository</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Data/Repository/DemoRepository.swift</string>
		</dict>
		<key>Modules/Demo/Domain/UseCases/ListItem.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Domain</string>
				<string>UseCases</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Domain/UseCases/ListItem.swift</string>
		</dict>
		<key>Modules/Demo/Factory/DemoFactory.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Factory</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Factory/DemoFactory.swift</string>
		</dict>
		<key>Modules/Demo/Scenes/List/ListContract.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Scenes</string>
				<string>List</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Scenes/List/ListContract.swift</string>
		</dict>
		<key>Modules/Demo/Scenes/List/ListPresenter.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Scenes</string>
				<string>List</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Scenes/List/ListPresenter.swift</string>
		</dict>
		<key>Modules/Demo/Scenes/List/ListViewController.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Scenes</string>
				<string>List</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Scenes/List/ListViewController.swift</string>
		</dict>
		<key>Modules/Demo/Scenes/List/ListViewController.xib</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Modules</string>
				<string>Demo</string>
				<string>Scenes</string>
				<string>List</string>
			</array>
			<key>Path</key>
			<string>Modules/Demo/Scenes/List/ListViewController.xib</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>TargetIndices</key>
			<array/>
			<key>Beginning</key>
			<string>
platform :ios, &apos;11.0&apos;

target &apos;___PACKAGENAME___&apos; do
    use_frameworks!
    pod &apos;Alamofire&apos;, &apos;~&gt; 4.7.1&apos;
    pod &apos;SwiftLint&apos;
    pod &apos;SVProgressHUD&apos;, &apos;~&gt; 2.2.5&apos;
    pod &apos;OHHTTPStubs/Swift&apos;</string>
			<key>End</key>
			<string>
    target &apos;___PACKAGENAME___Tests&apos; do
        # Put pods used for both test targets here
        inherit! :search_paths
    end

    target &apos;___PACKAGENAME___UITests&apos; do
        # Put UI-testing-only pods here
    end
end

# Disable Code Coverage for Pods projects
post_install do |installer_representation|
    installer_representation.pods_project.targets.each do |target|
        target.build_configurations.each do |config|
            config.build_settings[&apos;CLANG_ENABLE_CODE_COVERAGE&apos;] = &apos;NO&apos;
        end
    end
end
</string>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Path</key>
			<string>.swiftlint.yml</string>
			<key>TargetIndices</key>
			<array/>
			<key>Group</key>
			<array>
				<string>Non-iOS Resources</string>
			</array>
		</dict>
		<key>Info.plist:CFBundleDisplayName</key>
		<string>&lt;key&gt;CFBundleDisplayName&lt;/key&gt;
	&lt;string&gt;$(PRODUCT_NAME)&lt;/string&gt;</string>
		<key>AppDelegate.swift:implementation:methods:applicationdidFinishLaunchingWithOptions:body</key>
		<string>// Override point for customization after application launch.
window = UIWindow(frame: UIScreen.main.bounds)
window?.rootViewController = DemoFactory().getRootViewController()
window?.makeKeyAndVisible()</string>
		<key>*:implementation:methods:applicationWillResignActive:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationDidEnterBackground:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationWillEnterForeground:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationDidBecomeActive:comments</key>
		<string></string>
		<key>*:implementation:methods:applicationWillTerminate:comments</key>
		<string></string>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>Debug</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
			</dict>
			<key>QA</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Onone</string>
			</dict>
			<key>Release</key>
			<dict>
				<key>SWIFT_OPTIMIZATION_LEVEL</key>
				<string>-Owholemodule</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
